*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #212121;
}

ul {
  list-style-type: none;
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
  padding: 0;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-size {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 479px) {
  .main-size {
    width: auto;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .main-size {
    width: 480px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .main-size {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .main-size {
    width: 1200px;
  }
}

.link {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  font-style: normal;
  text-decoration: none;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 479px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container__subtitle {
  text-align: center;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.header {
  width: 100%;
  border-bottom: 1px solid #ececec;
}

@media screen and (max-width: 767px) {
  .header {
    position: relative;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header__link {
  font-family: 'Raleway', sans-serif;
  color: #212121;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .header__link {
    margin-right: 93px;
  }
}

.header__logo {
  color: #2196f3;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .navigation {
    margin-left: 88px;
  }
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__link {
  display: block;
  padding-bottom: 32px;
  font-weight: 500;
  color: #212121;
  text-decoration: none;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .navigation__link {
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 768px) {
  .navigation__link {
    padding-top: 32px;
    font-size: 14px;
    line-height: 1.1;
  }
}

.navigation__link.current {
  position: relative;
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .navigation__link.current::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    bottom: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    background-color: #2196f3;
  }
}

.navigation__link:hover, .navigation__link:focus {
  color: #2196f3;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts {
    display: block;
    margin-left: 84px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .contacts__link:hover, .contacts__link:focus {
    color: #2196f3;
  }
}

.contacts-icon {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  fill: currentColor;
  margin-right: 10px;
}

.main-container {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background: #2f303a;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/main-fon.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main-fon.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .main-container {
    width: 480px;
    height: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .main-container {
    width: 768px;
    height: auto;
  }
}

.main-container__title {
  margin-bottom: 30px;
  color: #ffffff;
  background: transparent;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .main-container__title {
    font-size: 26px;
    line-height: 42px;
    text-align: center;
  }
}

.main-container__primary-button {
  padding: 10px 32px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  color: #212121;
  background: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.9;
  cursor: pointer;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.main-container__primary-button:hover, .main-container__primary-button:focus {
  color: #ffffff;
  background: #2196f3;
}

.mobile-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button__closs-icon {
  display: none;
}

.menu-button.is-open .menu-button__closs-icon {
  display: block;
}

.menu-button.is-open .menu-button__menu-icon {
  display: none;
}

@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: auto;
    background-color: #ffffff;
    padding: 48px 40px;
    font-size: 20px;
  }
  .menu-container.is-open {
    display: block;
  }
  .menu-container.is-open .navigation {
    display: block;
  }
  .menu-container.is-open .contacts {
    display: block;
    text-align: start;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

@media screen and (max-width: 767px) {
  .header-social-network {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .header-social-network__item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 10px;
  }
  .header-social-network__link {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: #2196f3;
  }
}

@media screen and (min-width: 768px) {
  .header-social-network {
    display: none;
  }
}

.backdrop {
  position: relative;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
  -webkit-transition: opacity 250ms linear, visibility 250ms linear;
  transition: opacity 250ms linear, visibility 250ms linear;
}

.modal {
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (max-width: 479px) {
  .modal {
    width: 90vw;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .modal {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    max-width: 528px;
    max-height: 581px;
  }
}

.modal__exit {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.modal__exit:hover .modal__icon, .modal__exit:focus .modal__icon {
  fill: #2196f3;
}

.modal__icon {
  fill: #212121;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__text {
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .form-modal {
    width: 370px;
  }
}

@media screen and (min-width: 1200px) {
  .form-modal {
    min-width: 448px;
    min-height: 342px;
  }
}

input,
textarea {
  padding: 12px 16px;
}

textarea {
  resize: none;
  min-width: 100%;
  height: 120px;
}

.application {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.application:not(:last-child) {
  margin-bottom: 10px;
}

.application input {
  height: 40px;
}

.application__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.application__form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.application__icon {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: #212121;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.application__input {
  padding-left: 42px;
  outline-style: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 479px) {
  .application__input {
    width: 100%;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .application__input {
    width: 370px;
  }
}

.application__input:focus {
  border-color: #2196f3;
}

.application__input:focus + .application__icon {
  fill: #2196f3;
}

.application textarea {
  outline-style: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.application textarea:focus {
  border-color: #2196f3;
}

.application textarea::-webkit-input-placeholder {
  margin-top: 12px;
  margin-left: 16px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.application textarea:-ms-input-placeholder {
  margin-top: 12px;
  margin-left: 16px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.application textarea::-ms-input-placeholder {
  margin-top: 12px;
  margin-left: 16px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.application textarea::placeholder {
  margin-top: 12px;
  margin-left: 16px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .application textarea {
    width: 370px;
  }
}

.privacy-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .privacy-text {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .privacy-text {
    font-size: 14px;
    line-height: 24px;
  }
}

.privacy-text__icon-input {
  display: inline-block;
  margin-right: 7px;
  width: 15px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
}

.privacy-text__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.privacy-text__checkbox:checked + .privacy-text__icon-input {
  border-color: #2196f3;
  background: #2196f3;
  background-image: url("../images/ok-check.svg");
  background-size: contain;
  background-origin: border-box;
}

.privacy-text__checkbox:focus + .privacy-text__icon-input {
  border-color: #2196f3;
}

.privacy-text__link {
  color: #2196f3;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.button-submit {
  display: inline-block;
  margin-top: 30px;
  padding: 10px 56px;
  border: none;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: #ffffff;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 767px) {
  .features__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features__item {
    -ms-flex-preferred-size: calc((100% - 4 * 15px) / 2);
        flex-basis: calc((100% - 4 * 15px) / 2);
  }
  .features__item:nth-child(odd) {
    margin-right: 30px;
  }
  .features__item:nth-child(-n + 2) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    width: 270px;
  }
  .features__item:not(:last-child) {
    margin-right: 30px;
  }
}

.features__icon {
  background: #f5f4fa;
  border-radius: 4px;
}

@media screen and (max-width: 479px) {
  .features__icon {
    width: 100%;
    text-align: center;
    padding: 1vh 1vw;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .features__icon {
    width: 450px;
    text-align: center;
    padding: 25px 190px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features__icon {
    width: 354px;
    text-align: center;
    padding: 25px 144px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .features__icon {
    width: 270px;
    padding: 25px 100px;
    margin-bottom: 30px;
  }
}

.features__title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features__title {
    display: block;
    width: 354px;
  }
}

.features__text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features__text {
    display: block;
    width: 354px;
  }
}

.section-img {
  padding-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .section-img {
    display: none;
  }
}

.study {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.study__item {
  position: relative;
}

.study__item:not(:last-child) {
  margin-right: 30px;
}

.study__img {
  display: block;
}

.study__text {
  width: 100%;
  padding: 27px 82px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  color: #ffffff;
  position: absolute;
  bottom: 0;
  right: 0;
}

.section__team {
  background: #f5f4fa;
}

@media screen and (min-width: 479px) {
  .section__team {
    width: 100%;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .section__team {
    width: 480px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section__team {
    width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .section__team {
    width: 100%;
  }
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team__item {
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__item {
    -ms-flex-preferred-size: calc((100% - 4 * 15px) / 2);
        flex-basis: calc((100% - 4 * 15px) / 2);
  }
  .team__item:nth-child(odd) {
    margin-right: 30px;
  }
  .team__item:nth-child(-n + 2) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    -ms-flex-preferred-size: calc((100% - 8 * 15px) / 4);
        flex-basis: calc((100% - 8 * 15px) / 4);
  }
  .team__item:not(:last-child) {
    margin-right: 30px;
  }
}

.employee {
  padding-top: 30px;
  padding-bottom: 30px;
}

.employee__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
}

.employee__specialty {
  font-size: 16px;
  line-height: 1.2;
  color: #757575;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 16px;
}

.communication {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.communication__employee {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
}

.communication__employee:not(:last-child) {
  margin-right: 10px;
}

.communication__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: #afb1b8;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.communication__link:hover, .communication__link:focus {
  color: #ffffff;
  background: #2196f3;
}

.communication__icon {
  fill: currentColor;
}

.customers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.customers__company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 92px;
  border-radius: 4px;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .customers__company {
    width: 210px;
  }
  .customers__company:nth-child(odd) {
    margin-right: 30px;
  }
  .customers__company:nth-child(-n + 4) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .customers__company {
    width: 226px;
    margin-right: 30px;
  }
  .customers__company:nth-child(3n) {
    margin-right: 0;
  }
  .customers__company:nth-child(-n + 3) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .customers__company {
    width: 170px;
  }
  .customers__company:not(:last-child) {
    margin-right: 30px;
  }
}

.customers__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  color: #afb1b8;
  border-radius: 4px;
  -webkit-transition-property: border-color, color;
  transition-property: border-color, color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers__link:hover, .customers__link:focus {
  color: #2196f3;
  border-color: #2196f3;
}

.customers__icon {
  fill: currentColor;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2f303a;
}

@media screen and (max-width: 479px) {
  .footer {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .footer {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer {
    width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__information {
    margin-left: 76px;
  }
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
  font-family: 'Raleway', sans-serif;
  color: #ffffff;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .footer__logo {
    text-align: center;
  }
}

.footer__logo-color {
  color: #2196f3;
}

.footer__address {
  margin-bottom: 9px;
  font-size: 14px;
  color: #ffffff;
  font-style: normal;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 767px) {
  .footer__address {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .footer__item {
    text-align: center;
  }
}

.footer__item:not(:last-child) {
  margin-bottom: 9px;
}

@media screen and (max-width: 767px) {
  .join {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .join {
    margin-left: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .join {
    margin-left: 70px;
  }
}

.join__text {
  margin-bottom: 20px;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .join__text {
    margin-top: 60px;
    text-align: center;
  }
}

.join__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .join__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.join__message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
}

.join__message:not(:last-child) {
  margin-right: 10px;
}

.join__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.join__link:hover, .join__link:focus {
  background: #2196f3;
}

.join__icon {
  fill: currentColor;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscribe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe {
    margin-left: 93px;
  }
}

.subscribe__text {
  margin-bottom: 20px;
  color: #ffffff;
}

@media screen and (max-width: 1199px) {
  .subscribe__text {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .subscribe__block {
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.subscribe__mail input {
  height: 50px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
}

@media screen and (max-width: 767px) {
  .subscribe__mail input {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscribe__mail input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe__mail input {
    width: 358px;
  }
}

.subscribe__button {
  padding: 10px 28px;
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  background: #2196f3;
}

@media screen and (max-width: 767px) {
  .subscribe__button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscribe__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 12px;
  }
}

.subscribe__text-button {
  margin-right: 10px;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

@media screen and (max-width: 767px) {
  .portfolio {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.portfolio__item:not(:last-child) {
  margin-right: 8px;
}

.portfolio__button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  cursor: pointer;
  border-radius: 4px;
  border: 0;
  padding: 6px 22px;
  color: #212121;
  background-color: #f5f4fa;
  -webkit-transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, box-shadow, color;
  transition-property: background-color, box-shadow, color, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__button:hover, .portfolio__button:focus {
  color: #ffffff;
  background: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (max-width: 767px) {
  .portfolio__item:nth-child(-n + 3) {
    margin-bottom: 15px;
  }
}

.portfolio-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-list {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .portfolio-list__item {
    width: auto;
  }
  .portfolio-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-list__item {
    -ms-flex-preferred-size: calc((100% - 2 * 15px) / 2);
        flex-basis: calc((100% - 2 * 15px) / 2);
  }
  .portfolio-list__item:nth-child(odd) {
    margin-right: 30px;
  }
  .portfolio-list__item:nth-child(-n + 7) {
    margin-bottom: 30px;
  }
  .portfolio-list__item:last-child {
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-list__item {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .portfolio-list__item:nth-child(3n) {
    margin-right: 0;
  }
  .portfolio-list__item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.portfolio-list__link {
  display: block;
  text-decoration: none;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list__link:hover, .portfolio-list__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list__link:hover .portfolio-list__text, .portfolio-list__link:focus .portfolio-list__text {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio-list__overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-list__text {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 18px;
  line-height: 28px;
  padding: 63px 24px;
  letter-spacing: 0.03em;
  background: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  cursor: pointer;
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: opacity 250ms linear, -webkit-transform 250ms linear;
  transition: opacity 250ms linear, -webkit-transform 250ms linear;
  transition: opacity 250ms linear, transform 250ms linear;
  transition: opacity 250ms linear, transform 250ms linear, -webkit-transform 250ms linear;
}

.portfolio-list__name {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.portfolio-list__title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.portfolio-list__specialty {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: #757575;
}
/*# sourceMappingURL=main.css.map */