.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__item {
    @media screen and (max-width: 767px) {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      &:nth-child(odd) {
        margin-right: 30px;
      }
      &:nth-child(-n + 2) {
        margin-bottom: 30px;
      }

      flex-basis: calc((100% - 4 * 15px) / 2);
    }

    @media screen and(min-width: 1200px) {
      width: 270px;

      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $btnFon;
    border-radius: 4px;
    height: 120px;
    margin-bottom: 30px;
  }

  &__title {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    @media screen and (max-width: 767px) {
      text-align: center;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      display: block;
      width: 354px;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: $subtitleText;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      display: block;
      width: 354px;
    }
  }
}
