.header {
  width: 100%;
  border-bottom: 1px solid #ececec;

  @media screen and (max-width: 767px) {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  &__nav {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      display: flex;
    }

    @media screen and (min-width: 1200px) {
      display: flex;
      align-items: center;
    }
  }

  &__link {
    font-family: 'Raleway', sans-serif;
    color: $titleText;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;

    @media screen and (min-width: 1200px) {
      margin-right: 93px;
    }
  }

  &__logo {
    color: $accent;
  }
}
.navigation {
  display: flex;

  @media screen and (max-width: 767px) {
    margin-bottom: auto;
  }

  &__item:not(:last-child) {
    margin-right: 50px;
  }

  &__link {
    display: block;
    padding-bottom: 32px;

    font-weight: 500;
    color: $titleText;
    text-decoration: none;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (max-width: 767px) {
      font-size: 40px;
      line-height: 47px;
      letter-spacing: 0.02em;
    }

    @media screen and (min-width: 768px) {
      padding-top: 32px;
      font-size: 14px;
      line-height: 1.1;
    }

    &.current {
      position: relative;
      color: $accent;

      @media screen and (min-width: 768px) {
        &::after {
          position: absolute;
          content: '';
          width: 100%;
          height: 4px;
          bottom: -1px;
          transform: translateX(-100%);
          background-color: $accent;
          border-radius: 2px;
        }
      }
    }

    &:hover,
    &:focus {
      color: $accent;
    }
  }
}

.contacts {
  @media screen and (min-width: 1200px) {
    display: flex;
    margin-left: auto;
  }

  &__list {
    @media screen and (max-width: 767px) {
      &:nth-child(1) {
        margin-bottom: 64px;
      }

      &:nth-child(2) {
        margin-bottom: 32px;
      }
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    @media screen and (min-width: 1200px) {
      display: flex;
      justify-content: center;
      align-items: center;

      &:not(:first-child) {
        margin-left: 50px;
      }
    }
  }

  &__link {
    @media screen and (max-width: 767px) {
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 0.02em;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      display: flex;
    }

    @media screen and (min-width: 1200px) {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 32px;
      padding-bottom: 32px;

      &:hover,
      &:focus {
        color: $accent;
      }
    }

    @media screen and (max-width: 767px) {
      &-tel {
        font-size: 34px;
        line-height: 40px;
        color: $accent;
      }
    }
  }

  &-icon {
    @media screen and (max-width: 767px) {
      display: none;
    }

    @media screen and (min-width: 768px) {
      align-items: baseline;
      fill: currentColor;
      margin-right: 10px;
    }
  }
}

.main-container {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  background: $fon;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/header-mob-1x.jpg);
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/header-mob-2x.jpg);
  }
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/header-tab-1x.jpg);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/header-tab-2x.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;

    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/header-desk-1x.jpg);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/header-desk-2x.jpg);
    }
  }

  &__title {
    margin-bottom: 30px;
    color: $textBtn;
    background: transparent;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    @media screen and (max-width: 1199px) {
      font-size: 26px;
      line-height: 42px;
      text-align: center;
      letter-spacing: 0.06em;
      text-transform: uppercase;
    }
  }

  &__primary-button {
    padding: 10px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;

    color: $textBtn;
    background: $accent;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.9;
    cursor: pointer;

    transition-property: background-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background: $accentFocus;
    }
  }
}
