.mobile-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (min-width: 768px) {
    margin-right: 88px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: $accent;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }

  &__closs-icon {
    display: none;
  }

  &.is-open {
    display: flex;
    z-index: 2;

    .menu-button__closs-icon {
      display: block;
    }
  }

  &.is-open {
    .menu-button__menu-icon {
      display: none;
    }
  }
}

.menu-container {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 767px) {
    z-index: 1;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: $textBtn;
    padding: 48px 40px;
    font-size: 20px;

    &.is-open {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .navigation {
        display: block;
      }

      .contacts {
        display: flex;
        text-align: start;
        flex-direction: column-reverse;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .header-social-network {
    display: flex;

    &__item {
      align-items: center;

      &:not(:last-child) {
        border-right: 1px solid rgba(33, 33, 33, 0.2);
        padding-right: 10px;
      }
      &:not(:first-child) {
        padding-left: 10px;
      }
    }

    &__link {
      display: flex;
      text-decoration: none;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 0.02em;
      color: $accent;
    }
  }
}

@media screen and (min-width: 768px) {
  .header-social-network {
    display: none;
  }
}
