@media screen and (max-width: 767px) {
  .mobile-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu-button {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;

    &__closs-icon {
      display: none;
    }

    &.is-open {
      .menu-button__closs-icon {
        display: block;
      }
    }

    &.is-open {
      .menu-button__menu-icon {
        display: none;
      }
    }
  }

  .menu-container {
    display: none;

    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 600px;
    background-color: $textBtn;
    padding: 20px;
    text-align: start;
    font-size: 20px;

    &.is-open {
      display: block;
    }
  }
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}
