.backdrop {
  position: relative;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);

  overflow-y: scroll;

  transition: opacity 250ms linear, visibility 250ms linear;
}

.modal {
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: $textBtn;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  @media screen and (max-width: 479px) {
    width: 90vw;
  }

  @media screen and (min-width: 480px) and (max-width: 767px) {
    width: 450px;
  }

  @media screen and (min-width: 768px) {
    max-width: 528px;
    max-height: 581px;
  }

  &__exit {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 8px;
    right: 8px;
    padding: 0;

    border: 1px solid rgba(0, 0, 0, 0.1);
    background: $textBtn;
    border-radius: 50%;
    cursor: pointer;

    &:hover,
    &:focus {
      .modal__icon {
        fill: $accent;
      }
    }
  }

  &__icon {
    fill: $titleText;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__text {
    margin-bottom: 12px;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    color: $titleText;
  }
}

.form-modal {
  @media screen and (min-width: 480px) and (max-width: 767px) {
    width: 370px;
  }

  @media screen and (min-width: 1200px) {
    min-width: 448px;
    min-height: 342px;
  }
}

input,
textarea {
  padding: 12px 16px;
}

textarea {
  resize: none;
  min-width: 100%;
  height: 120px;
}

.application {
  display: flex;
  flex-direction: column;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  input {
    height: 40px;
  }

  &__text {
    display: flex;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: $subtitleText;
  }

  &__form {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  &__icon {
    position: absolute;
    display: flex;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);

    fill: $titleText;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__input {
    padding-left: 42px;
    outline-style: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (max-width: 479px) {
      width: 100%;
    }

    @media screen and (min-width: 480px) and (max-width: 767px) {
      width: 370px;
    }

    &:focus {
      border-color: $accent;
    }
    &:focus + .application__icon {
      fill: $accent;
    }
  }

  textarea {
    outline-style: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
      border-color: $accent;
    }

    &::placeholder {
      margin-top: 12px;
      margin-left: 16px;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.01em;

      color: rgba(117, 117, 117, 0.5);
    }
  }

  @media screen and (min-width: 480px) and (max-width: 1199px) {
    textarea {
      width: 370px;
    }
  }
}

.privacy-text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;

  letter-spacing: 0.03em;
  color: $subtitleText;

  @media screen and (min-width: 480px) and (max-width: 1199px) {
    width: 100%;
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 24px;
  }

  &__icon-input {
    display: inline-block;
    margin-right: 7px;
    width: 15px;
    height: 15px;
    border: 2px solid $titleText;
    border-radius: 2px;
  }

  &__checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;

    &:checked + .privacy-text__icon-input {
      border-color: $accent;
      background: $accent;
      background-image: url('../images/ok-check.svg');
      background-size: contain;
      background-origin: border-box;
    }
    &:focus + .privacy-text__icon-input {
      border-color: $accent;
    }
  }

  &__link {
    color: $accent;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
  }
}

.button-submit {
  display: inline-block;
  margin-top: 30px;
  padding: 10px 56px;
  border: none;

  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;

  cursor: pointer;
  color: $textBtn;
  background: $accent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
