.portfolio {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;

  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  &__item:not(:last-child) {
    margin-right: 8px;
  }

  &__button {
    font-family: 'Roboto', sans-serif;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    cursor: pointer;
    border-radius: 4px;
    border: 0;
    padding: 6px 22px;
    color: $titleText;
    background-color: $btnFon;

    transition-property: background-color, box-shadow, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $textBtn;
      background: $accent;
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }
}

@media screen and (max-width: 767px) {
  .portfolio__item:nth-child(-n + 3) {
    margin-bottom: 15px;
  }
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__item {
    @media screen and (min-width: 480px) and (max-width: 767px) {
      width: auto;

      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }

    @media screen and (min-width: 1200px) {
      width: 370px;
      margin-right: 30px;
      margin-bottom: 30px;

      &:nth-child(3n) {
        margin-right: 0;
      }
      &:nth-last-child(-n + 3) {
        margin-bottom: 0;
      }
    }
  }

  &__link {
    display: block;
    text-decoration: none;

    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);

      .portfolio-list__text {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  &__overlay {
    position: relative;
    overflow: hidden;
  }

  &__text {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 18px;
    line-height: 28px;
    padding: 63px 24px;
    letter-spacing: 0.03em;
    background: rgba(33, 150, 243, 0.9);
    color: $textBtn;
    cursor: pointer;

    opacity: 0;

    transform: translateY(100%);
    transition: opacity 250ms linear, transform 250ms linear;
  }

  &__name {
    padding: 20px 24px;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
  }

  &__title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $titleText;
  }

  &__specialty {
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: $subtitleText;
  }
}
